<ion-view title="{{repo.name}}">
<ion-content>
<div class="list card">
	<div class='item'>
		<div class="pull-right">
			<span class="subdued">{{repo.forks}} <span class="octicon octicon-git-branch"></span> {{repo.starcount}} <i class='ion-android-star'></i> </span>
		</div>
		<div class="pull-left icon icon-{{repo.language | lowercase}}"></div>
		<h2>{{repo.full_name}}</h2>
		<p>{{repo.description}}</p>
		<p>{{full_name}}</p>
	</div>
</div>
<button type="submit" ng-click="recentActivity(repo.full_name)" class="button button-block button-stable">Commits</button>
<!-- <button type="submit" ng-click="closeModal()" class="button button-block button-assertive">Cancel</button> -->
</ion-content>
</ion-view>