<ion-view title="{{repo.full_name}}"  animation="slide-left-right-ios7">
  <ion-content has-header="true">
      <div class="bar-subheader button-bar">
        <button class="button button-clear button-light" ng-click="contribs()"><i class="octicon octicon-organization"></i></button>
        <button class="button button-clear button-light branch">{{branch}}</button>
      </div>
 <script id="contribs.html" type="text/ng-template">
 <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Contributors</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
    <ion-item ng-repeat="contributor in contributors | filter:search" class="item item-avatar">
      <img src="{{contributor.author.avatar_url}}">
      <h2>{{contributor.author.login}}</h2>
      <p><i class="octicon octicon-history"></i> {{contributor.total}} commits to this repo</p>
    </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive" ng-click="closeModal()">
  <h1 class="title">Close</h1>
</ion-footer-bar>
 </ion-modal-view>
 </script>
  	<ion-list>
  		<ion-item ng-repeat="item in items | filter:search" ng-click="file(item.path)">
  			<span class="small-repo pull-left">
  				<span ng-switch="item.type">
  					<span ng-switch-when="dir" class="octicon octicon-file-directory icon"></span>
  					<span ng-switch-when="file" class="octicon octicon-file-text icon"></span>
  				</span>
  			</span>
  			<span class="">{{item.name}}</span>
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
