.pull-right {
		float: right;
}
.pull-left {
		float: left;
}
.center {
		text-align: center;
		display: block;
		margin: 0 auto;
}
.no-margin {
		margin: 0;
}
.no-padding {
		padding: 0;
}
.profile-pic {
		height: 110px;
		width: 110px;
		display: block;
		border-radius: 4px;
		margin: 10px auto 0;
}
.action-numbers {
		font-size: 24px;
		font-weight: 700;
}
.action-text {
		font-size: 14px;
		color: #A8A7A6;
		font-weight: 400;
}
.action-button {
		width: 95% !important;
		margin: 5px auto;
}
.link-item-icon {
		padding-right: 3px;
}
.profile-link {
		color: #548FCA;
		display: table-cell;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 110px;
}
.name {
		margin-top: 20px;
		font-weight: 900;
		color: #343434;
		font-size: 16pt;
}
.other-info {
		color: #101113;
		padding-left: 4px;
}
.other-info .ico {
		color: #989898;
		margin-right: 4px;
}
.profile-row {
		border-bottom: 1px solid #DDDDDD;
		padding: 0;
}
.profile-row .right-bump {
		position: relative;
		right: 25px;
		padding: 0 5px 10px;
}
.mid-profile {
		padding-top: 1px;
		background-color: #FAFAFA;
		border-bottom: 1px solid #DDDDDD;
}
.bttn-block {
		width: 95%;
		margin: 0 auto;
		display: block;
}
.info {
		padding-left: 35px;
}
.icon {
		font-size: 30px;
		margin: 5px 0;
		padding-right: 15px;
		display: table-cell;
}
.center-loading-icon {
		font-size: 48px;
		text-align: center;
		padding-top: 20px;
}
.repo-cont {
		margin: 20px;
}
.repo-title {
		font-size: 20px;
}
.repo-lang {
		font-style: italic;
		color: #555;
}
.my-item {
		left: 0;
		right: 0;
}
.github-icon {
		font-size: 35px;
}
.bigput {
		height: 45px !important;
		font-size: 18px !important;
		line-height: 22px !important;
}
.branch {
		font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		color: #555 !important;
}
.githubgreen {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #60b044;
		background-image: -moz-linear-gradient(#8add6d, #60b044);
		background-image: -webkit-linear-gradient(#8add6d, #60b044);
		background-image: linear-gradient(#8add6d, #60b044);
		background-repeat: repeat-x;
		border-color: #5ca941;
		font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
		font-size: 16px;
		font-weight: bold;
}
.githubgreen:hover {
		color: #fff;
		background-color: #569e3d;
		background-image: -moz-linear-gradient(#79d858, #569e3d);
		background-image: -webkit-linear-gradient(#79d858, #569e3d);
		background-image: linear-gradient(#79d858, #569e3d);
		background-repeat: repeat-x;
		border-color: #4a993e;
}
.githubgrey {
		font-size: 16px;
		position: relative;
		font-weight: bold;
		color: #333;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
		vertical-align: middle;
		cursor: pointer;
		background-color: #eee;
		background-image: -webkit-linear-gradient(#fcfcfc, #eee);
		background-image: linear-gradient(#fcfcfc, #eee);
		background-repeat: repeat-x;
		border: 1px solid #d5d5d5;
		border-radius: 3px;
}
.bar-github-color {
		background-color: #F5F5F5 !important;
}
.bubble-header {
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid #ddd;
		color: #010101;
		font-weight: bold;
		font-size: 14px;
		display: block;
		background-color: #F5F5F5;
}
.bubble {
		margin: 0 15px 15px;
		padding: 0;
		border: 1px solid #ddd;
		border-radius: 3px;
		background: #fff;
		white-space: normal;
		word-wrap: break-word;
		word-break: break-word;
		overflow: hidden;
}
.bottom-profile {
		background-color: #FAFAFA;
		padding-top: 15px;
}
.small-repo {
		font-size: 14px;
		max-width: 210px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
		color: #4183C4;
}
.stargazer {
		color: #888888;
}
.stargazer-starred {
		color: #F0B840 !important;
}
.grey-icon {
		color: #666666;
}
.modal-closer {
		width: 95%;
		margin: 0 auto;
}
.force-right {
		position: absolute;
		right: 5px;
}
.item-input-wrapper {
		background: none;
}
.item-input-wrapper input {
		padding-left: 5px;
}
.info-center {
		display: block;
		margin: 0 auto;
}
.about-button {
		margin-top: 8px;
		text-align: center;
		width: 100%;
		font-style: 16px;
		color: #555;
		font-weight: 600;
}
.commit-count {
		font-size: 14px;
}
.code-wrapper {
		height:100%;
		font-size: 12px;
}
.authorize {
		color: #555;
}
.hero-person {
		text-align: center;
		font-size: 100px;
}
.intro {
		width: 80%;
		margin: 0 auto;
}
.fakeautho {
		margin-top: 30px;
		color: #757575;
}
.search-icon {
		font-size: 24px !important;
}
.cm-s-monokai.CodeMirror {
		height: 100%;
}
.cm-s-eclipse.CodeMirror {
		height: 100%;
}
.cm-s-pastel-on-dark.CodeMirror {
		height: 100%;
}
.cm-s-dope.CodeMirror {
		height: 100%;
}
.octicon-logo-github {
		position: relative;
		top: 2px;
}
.activity {
		max-width: 290px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}
.into-list {
		font-size: 20px;
		text-align: center;
}
.clear-uname {
		font-size: 22px;
		margin-right: 5px;
		z-index: 99999;
}
.privacy {
		color: #777777;
}
.mild-green {
		color: #299456;
}
.mild-yellow {
		color: #ffd600;
}
.mild-red {
		color: #dd2c00;
}
.full-width {
	width: 100%;
	margin: 0 auto;
}

.button-cont {
	width: 50%;
	float: left;
	margin: 0 auto;
}

.button-full {
	width: 95%;
	margin: 0 auto;
}

.button-bar {
	width:95%;
	margin:0 auto;
}

.mdown-cont {
	display: block;
	margin: 20px auto 0;
	color: black;
}

.top-bump {
	margin-top: 15px;
}

.mdown-body {
	padding:10px;
	color:#333;
}

.readme-box {
	max-height: 250px;
	overflow: hidden;
}

.collapse-bttn {
	color: #4183C4;
	text-align: center;
	border: 1px solid #DDDDDD;
	margin: 0 auto 10px;
	width: 91%;
	display: block;
}