<ion-view title="Profile">
  <ion-content has-header="true">
    <div class="profile-blob">
      <div class="row profile-row">
        <div class="col">
          <img class="profile-pic" ng-src="{{avatar}}">
        </div>
        <div class="col right-bump">
          <div class="row" stlye="padding-left:0px;">
            <div class="name">{{name}}</div>
          </div>
          <div class="other-info">
            <div class="row">
              <p class="subdue no-margin">{{login}}</p>
            </div>
            <div class="row" ng-hide="hideLocation">
              <i class="octicon octicon-location ico"></i> {{location}}
            </div>
            <div class="row" ng-hide="hideLink" ng-click="blogClick(blog)">
              <i class="octicon octicon-link link-item-icon ico"></i> <span class="profile-link"> {{blog}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mid-profile">
        <div class="full-width">
          <div ng-class="{true: 'button-cont', false: 'button-full'}[half]">
            <button class="btn btn-primary button-block action-button" ng-click="activity()">Recent Activity</button>
          </div>
          <div class="button-cont" ng-if="half">
            <button class="btn button-block action-button" ng-click="togglefollow(login)">{{FollowStatus}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col action-numbers center" ng-click="toFollowerState()">{{followers}}
            <br /><span class="center action-text">Followers</span>
          </div>
          <div class="col action-numbers center" ng-click="bottom()">{{public_repos}}
            <br /><span class="center action-text">Public Repos</span>
          </div>
          <div class="col action-numbers center" ng-click="toFollowingState()">{{followingNumber}}
            <br /><span class="center action-text">Following</span>
          </div>
        </div>
      </div>
      <div class="bottom-profile" ng-if="popularRepos">
        <div class="bubble button-full">
          <h3 class="bubble-header">Public Repositories</h3>
          <ion-item ng-repeat="popularRepo in popularRepos" ng-click="gotoTree(popularRepo.full_name)">
            <span class="repo-name pull-left">
              <span ng-switch="popularRepo.fork">
                <span ng-switch-when="true" class="octicon octicon-repo-forked grey-icon"></span>
                <span ng-switch-when="false" class="octicon octicon-repo grey-icon"></span>
              </span>
              {{popularRepo.full_name}}
            </span>
            <span class="pull-right stargazer">{{popularRepo.stars}} <i class="ion-android-star"></i></span>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
