<ion-view title="{{fullname}}">
  <ion-content has-header="true">
    <div class="bar-subheader button-bar top-bump">
      <button class="button button-stable" ng-click="contribs()"><span class="octicon octicon-organization"></span></button>
      <button class="button button-stable branch" ng-class="{true: 'stargazer-starred'}[starred]" ng-click="starme(repo)" style="display:inline-block;"><i class="ion-android-star"></i></button>
      <button class="button button-stable branch" ng-click="branch()" style="display:inline-block;">master</button>
      <!-- <button class="button button-stable branch" ng-click="edit()">edit</button> -->
    </div>
    <div class="bubble button-full" style="margin: 10px auto 15px;">
      <h3 class="bubble-header">{{fullname}}</h3>
      <ion-item ng-repeat="file in files track by $index" ng-click="openFile(file)">
        <span class="repo-name pull-left">
          <div ng-switch="file.type">
            <span ng-switch-when="dir" class="octicon octicon-file-directory icon"></span>
            <span ng-switch-when="file" class="octicon octicon-file-text icon"></span>
            <span ng-switch-when="tree" class="octicon octicon-file-directory icon"></span>
            <span ng-switch-when="blob" class="octicon octicon-file-text icon"></span>
          </div>
        </span>
        <span>{{file.name}}</span>
        <span ng-show="!file.name">{{file.path}}</span>
      </ion-item>
  </ion-content>
</ion-view>
