<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Contributors</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="contributor in contributors track by $index" class="item item-avatar" ng-click="toContrib(contributor.author.login)">
        <img src="{{contributor.author.avatar_url}}">
        <h2>{{contributor.author.login}}</h2>
        <p><i class="octicon octicon-history"></i> {{contributor.total}} commits to this repo</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="no-padding">
    <button class="full-width btn" ng-click="closeModal()">Close</button>
  </ion-footer-bar>
</ion-modal-view>
