<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>GitMobile</title>

  <link href="lib/bower/ionic/release/css/ionic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/octicons.css">
  <link rel="stylesheet" href="lib/mfizz/font-mfizz.css">
  <link rel="stylesheet" href="lib/bower/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="lib/bower/codemirror/theme/monokai.css">
  <!-- <link rel="stylesheet" href="css/cm-dope.css"> -->
  <link rel="stylesheet" href="lib/bower/angular-material/angular-material.css">
  <link rel="stylesheet" href="lib/bower/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="lib/bower/angular-material/themes/blue-grey-theme.css">
  <link rel="stylesheet" href="lib/bower/angular-material/themes/red-theme.css">
  <link rel="stylesheet" href="lib/bower/angular-material/themes/blue-theme.css">
  <link rel="stylesheet" href="lib/bower/animate.css/animate.min.css">

  <!-- Plugins -->
  <script src="lib/bower/jquery/dist/jquery.min.js"></script>
  <script src="lib/bower/ionic/release/js/ionic.bundle.js"></script>
  <script src="lib/bower/fastclick/lib/fastclick.js"></script>
  <script src="lib/bower/marked/lib/marked.js"></script>

  <script src="lib/base64.js"></script>
  <script src="lib/bower/codemirror/lib/codemirror.js"></script>
  <script src="lib/bower/codemirror/mode/css/css.js"></script>
  <script src="lib/bower/codemirror/mode/javascript/javascript.js"></script>
  <script src="lib/bower/codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <script src="lib/bower/codemirror/mode/shell/shell.js"></script>
  <script src="lib/bower/codemirror/mode/xml/xml.js"></script>
  <script src="lib/bower/codemirror/mode/markdown/markdown.js"></script>

  <!-- Angular Files -->
  <script src="lib/angular-storage.min.js"></script>
  <script src="lib/bower/angular-animate/angular-animate.js"></script>
  <script src="lib/bower/angular-aria/angular-aria.js"></script>
  <script src="lib/bower/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/bower/angular-material/angular-material.js"></script>
  <script src="lib/bower/hammerjs/hammer.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <script src="lib/ng-cordova-oauth.js"></script>

  <!-- App -->
  <script src="js/profile/profile-controller.js"></script>
  <script src="js/info/info-controller.js"></script>
  <script src="js/search/search-controller.js"></script>
  <script src="js/searchpage/searchpage-controller.js"></script>
  <script src="js/follow/follow-controller.js"></script>
  <script src="js/intro/intro-controller.js"></script>
  <script src="js/project/project-controller.js"></script>
  <script src="js/commits/commits-controller.js"></script>
  <script src="js/code-view/codeview-controller.js"></script>
  <script src="js/main-controller.js"></script>

  <script src="js/githubservice.js"></script>
  <script src="js/rotator/rotator.directive.js"></script>
  <script src="js/state.js"></script>
  <script src="js/app.js"></script>

</head>

<body ng-app="MobileGit">
  <div ng-controller="mainCtrl">
    <ion-nav-bar>
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
      <ion-nav-view>
      </ion-nav-view>
      <div class="bottom-right" ng-hide="hideNavBttns">
        <div class="searchNav fading-btn animated">
          <md-button class="md-fab md-primary big-plus" md-theme="blue" ng-click="search()" >
            <span class="ion-search"></span>
          </md-button>
        </div>
        <div class="profileNav fading-btn animated">
          <md-button class="md-fab md-primary big-plus" md-theme="red" ng-click="myProfie()" >
            <span class="octicon octicon-person"></span>
          </md-button>
        </div>
        <md-button class="md-fab md-primary big-plus" md-theme="blue-grey" ng-click="openOverlay()">
          <span rotator>
            <i class="ion-ios-plus-empty"></i>
          </span>
        </md-button>
      </div>
  </div>

  <script type="text/javascript">
    window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory =
      function(t) {
        return function() {
          var a = Array.prototype.slice.call(arguments);
          return a.unshift(t), window.analytics.push(a), window.analytics
        }
    };
    for (var i = 0; i < window.analytics.methods.length; i++) {
      var key = window.analytics.methods[i];
      window.analytics[key] = window.analytics.factory(key)
    }
    window.analytics.load = function(t) {
      if (!document.getElementById("analytics-js")) {
        var a = document.createElement("script");
        a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
        var n = document.getElementsByTagName("script")[0];
        n.parentNode.insertBefore(a, n)
      }
    }, window.analytics.SNIPPET_VERSION = "2.0.9",
    window.analytics.load("pwrkpwvwbm");
    window.analytics.page();
  </script>
</body>

</html>