<ion-view>
  <ion-content has-header="true">
    <ul class="list">
      <div class="item item-divider">
        Github Stats
        <span class="pull-right privacy">v1.0.7</span>
      </div>
      <li class="item">Authenticated <span class="pull-right" ng-class="{false: 'mild-red', true: 'mild-green'}[authenticated]">{{authenticated}}</span>
      </li>
      <li class="item" ng-if="authenticated">Github Rate limit <span class="pull-right"> {{ratelimit}}</span>
      </li>
      <li class="item" ng-show="api">Github API <span ng-class="{good: 'mild-green', minor: 'mild-yellow', major: 'mild-red'}[api]" class="pull-right">{{api}}</span>
      </li>
      <li class="item" ng-if="authenticated">Username <span class="pull-right">{{alias}}</span>
      </li>
    </ul>
    <button class="button button-assertive button-block" ng-click="removeAuth()" ng-show="authenticated">Log out of <span class="octicon octicon-logo-github"></span>
    </button>
    <button class="button button-dark button-block" ng-click="newAuth()" ng-hide="authenticated">Login to <span class="octicon octicon-logo-github"></span>
    </button>
    <p class="privacy center" ng-if="!authenticated">To use this application, you'll need either a data or wifi connection and authentication from GitHub.</p>
    <br />
    <div class="center">Made by <a class="positive" ng-click="personalwebsite()">Jack Hanford</a>
      <br />Open Sourced under <a class="positive" ng-click="mit()">MIT</a>
      <br />
      <a class="positive" ng-click="privacy()">Privacy Policy</a>
    </div>
  </ion-content>
</ion-view>
