<ion-modal-view ng-controller="InfoCtrl">
  <ion-header-bar>
    <h1 class="title">Info</h1>
  </ion-header-bar>
  <ion-content has-header="true">
    <ul class="list">
      <div class="item item-divider">
        Github Stats
      </div>
      <li class="item">Github Rate limit <span class="pull-right"> {{ratelimit}}</span>
      </li>
      <li class="item" ng-show="api">Github API Status <span class="pull-right">{{api}}</span>
      </li>
      <li class="item">Username <span class="pull-right">{{alias}}</span>
      </li>
    </ul>
    <button class="btn btn-danger button-block signout-button" ng-click="logout()">Sign Out
    </button>
    <ul class="center privacy">
      <li>Made by <a class="positive" ng-click="personalwebsite()">Jack Hanford</a></li>
      <li>Open Sourced under <a class="positive" ng-click="mit()">MIT</a></li>
      <li><a class="positive" ng-click="privacy()">Privacy Policy</a></li>
      <li>GitMobile - {{version}}</li>
    </ul>
  </ion-content>
  <ion-footer-bar class="no-padding" layout>
    <button flex class="btn" ng-click="close()">Close</button>
  </ion-footer-bar>
</ion-modal-view>
