<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"> {{name}} - Recent Activity </h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="recentEvent in recentEvents" ng-click="recent(recentEvent)">
        <div ng-switch="recentEvent.type" class="activity">
          <span ng-switch-when="CommitCommentEvent"> <i class="octicon octicon-mail-read grey-icon"></i> Commented on commit {{recentEvent.repo.name}}</span>
          <span ng-switch-when="CreateEvent"><i class="octicon octicon-plus grey-icon"></i> Created File at {{recentEvent.repo.name}}</span>
          <span ng-switch-when="DeleteEvent"><i class="octicon octicon-trashcan grey-icon"></i> Deleted {{recentEvent.repo.name}}</span>
          <span ng-switch-when="DeploymentEvent">Deploy event for {{recentEvent.repo.name}}</span>
          <span ng-switch-when="DownloadEvent"> <i class="octicon octicon-move-down grey-icon"> </i> Downloaded {{recentEvent.repo.name}}</span>
          <span ng-switch-when="FollowEvent"> <i class="octicon octicon-person grey-icon"> </i> Following {{recentEvent.repo.name}}</span>
          <span ng-switch-when="ForkEvent"> <i class="octicon octicon-git-branch icon-grey"></i> Forked {{recentEvent.repo.name}}</span>
          <span ng-switch-when="ForkApplyEvent"> <i class="octicon octicon-git-branch icon-grey"></i> Forked {{recentEvent.repo.name}}</span>
          <span ng-switch-when="GollumEvent"><i class="octicon octicon-book"></i> Wiki Updated at {{recentEvent.repo.name}}</span>
          <span ng-switch-when="IssueCommentEvent"><i class="octicon octicon-mail-read grey-icon"></i> Commented on issue for {{recentEvent.repo.name}}</span>
          <span ng-switch-when="IssuesEvent"><i class="octicon octicon-stop grey-icon"></i> Issue for {{recentEvent.repo.name}}</span>
          <span ng-switch-when="MemberEvent"><i class="octicon octicon-person"></i> Member Event {{recentEvent.repo.name}}</span>
          <span ng-switch-when="PageBuildEvent"><i class="octicon octicon-unfold"></i> Github Page created {{recentEvent.repo.name}}</span>
          <span ng-switch-when="PublicEvent"><i class="octicon octicon-podium"></i> Public event {{recentEvent.repo.name}}</span>
          <span ng-switch-when="PullRequestEvent"><i class="octicon octicon-git-compare grey-icon"></i> Pull request for {{recentEvent.repo.name}}</span>
          <span ng-switch-when="PullRequestReviewCommentEvent"><i class="octicon octicon-mail-read grey-icon"></i> Commented on {{recentEvent.repo.name}}</span>
          <span ng-switch-when="PushEvent"><i class="octicon octicon-git-commit grey-icon"></i> Pushed to {{recentEvent.repo.name}}</span>
          <span ng-switch-when="ReleaseEvent"><i class="octicon octicon-megaphone grey-icon"></i> Released {{recentEvent.repo.name}}</span>
          <span ng-switch-when="StatusEvent"><i class="octicon octicon-stop"></i> Status Event {{recentEvent.repo.name}}</span>
          <span ng-switch-when="TeamAddEvent"><i class="octicon octicon-person"></i> Team Add Event {{recentEvent.repo.name}}</span>
          <span ng-switch-when="WatchEvent"><i class="octicon octicon-eye grey-icon"></i> Watching {{recentEvent.repo.name}}</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="no-padding">
    <button class="full-width btn" ng-click="closeModal()">Close</button>
  </ion-footer-bar>
</ion-modal-view>
