/* Empty. Add your own CSS if you like */
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.center {
	text-align: center;
}

.profile-pic {
	height: 100px;
	width: 100px;
	border-radius: 60px;
	margin: 20px auto;
	display: block; 
	box-shadow: 0px 1px 5px #555;
}

.bttn-block {
	width: 95%;
	margin: 0 auto;
	display: block;
}

.info {
	padding-left: 35px;
}

.icon {
	font-size: 30px;
	margin: 5px 0;
	padding-right: 15px;
}

.center-loading-icon {
	font-size: 48px;
	text-align: center;
	padding-top: 20px;
}