<ion-view title="{{fullname}}">
  <ion-content has-header="true">
    <div class="bar-subheader button-bar top-bump" style="margin-bottom:10px;">
      <button class="button button-stable" ng-click="contribs()" style="color:#555;"><span class="octicon octicon-organization"></span></button>
      <button class="button button-stable branch" ng-hide="starred" ng-click="starme(repo)"><i class="ion-android-star"></i></button>
      <button class="button button-stable stargazer-starred" ng-show="starred" ng-click="unstar(repo)"><i class="ion-android-star"></i></i>
      <button class="button button-stable branch" ng-click="branch()">master</button>
    </div>
    <div ng-show="hasReadMe" style="margin-bottom:10px;">
      <div class="top-bump readme-box">
        <div class="bubble bubble-mdown">
          <h3 class="bubble-header"><span class="octicon octicon-book"></span> {{name}}</h3>
          <span class="small-repo">
            <div id="mdown" class="mdown-body"></div>
          </span>
        </div>
      </div>
      <button class="button collapse-bttn" ng-click="collapse()" ng-hide="hideCol">View all of {{name}}</button>
    </div>
    <div class="bubble button-full" style="margin: 10px auto 15px;">
      <h3 class="bubble-header">{{fullname}}</h3>
      <ion-item ng-repeat="item in items | filter:search" ng-click="file(item)">
        <span class="small-repo pull-left">
          <div ng-switch="item.type">
            <span ng-switch-when="dir" class="octicon octicon-file-directory icon"></span>
            <span ng-switch-when="file" class="octicon octicon-file-text icon"></span>
            <span ng-switch-when="tree" class="octicon octicon-file-directory icon"></span>
            <span ng-switch-when="blob" class="octicon octicon-file-text icon"></span>
          </div>
        </span>
        <span>{{item.name}}</span>
        <span ng-if="!item.name">{{item.path}}</span>
      </ion-item>
  </ion-content>
</ion-view>
