@import 'layout';
.btn {
  padding: 10px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.profile-pic {
  height: 110px;
  width: 110px;
  display: block;
  border-radius: 4px;
  margin: 10px auto 0;
}
.action-numbers {
  font-size: 24px;
  font-weight: 700;
}
.action-text {
  font-size: 14px;
  color: #a8a7a6;
  font-weight: 400;
}
.action-button {
  width: 95% !important;
  margin: 5px auto;
}
.link-item-icon {
  padding-right: 3px;
}
.profile-link {
  color: #548fca;
  display: table-cell;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}
.name {
  margin-top: 20px;
  font-weight: 900;
  color: #343434;
  font-size: 16pt;
}
.other-info {
  color: #101113;
  padding-left: 4px;
}
.other-info .ico {
  color: #989898;
  margin-right: 4px;
}
.profile-row {
  border-bottom: 1px solid #ddd;
  padding: 0;
}
.profile-row .right-bump {
  position: relative;
  right: 20px;
  padding: 0 5px 10px;
}
.mid-profile {
  padding-top: 1px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}
.bttn-block {
  width: 95%;
  margin: 0 auto;
  display: block;
}
.info {
  padding-left: 35px;
}
.icon {
  font-size: 30px;
  margin: 5px 0;
  padding-right: 15px;
  display: table-cell;
}
.center-loading-icon {
  font-size: 48px;
  text-align: center;
  padding-top: 20px;
}
.repo-cont {
  margin: 20px;
}
.repo-title {
  font-size: 20px;
}
.repo-lang {
  font-style: italic;
  color: #555;
}
.my-item {
  left: 0;
  right: 0;
}
.github-icon {
  font-size: 35px;
}
.bigput {
  height: 45px !important;
  font-size: 18px !important;
  line-height: 22px !important;
}
.branch {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #555 !important;
}
.githubgreen {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #60b044;
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: bold;
}
.githubgreen:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -moz-linear-gradient(#79d858, #569e3d);
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  background-repeat: repeat-x;
  border-color: #4a993e;
}
.bar-github-color {
  background-color: #f5f5f5 !important;
}
.bubble-header {
  margin: 0;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  color: #010101;
  font-weight: bold;
  font-size: 14px;
  display: block;
  background-color: #f5f5f5;
}
.bubble {
  margin: 0 15px 15px;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}
.bottom-profile {
  background-color: #fafafa;
  padding-top: 10px;
}
.repo-name {
  font-size: 14px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #4183c4;
}
.stargazer {
  color: #888;
}
.stargazer-starred {
  color: #f0b840 !important;
}
.grey-icon {
  color: #666;
}
.modal-closer {
  width: 95%;
  margin: 0 auto;
}
.force-right {
  position: absolute;
  right: 5px;
}
.item-input-wrapper {
  background: none;
}
.item-input-wrapper input {
  padding-left: 5px;
}
.info-center {
  display: block;
  margin: 0 auto;
}
.about-button {
  text-align: center;
  width: 100%;
  font-style: 16px;
  color: #555;
  font-weight: 600;
}
.commit-count {
  font-size: 14px;
}
.code-wrapper {
  height: 100%;
  font-size: 12px;
}
.authorize {
  color: #555;
}
.hero-person span {
  text-align: center;
  font-size: 80px;
  margin: 40px auto;
  display: block;
}
.intro {
  width: 80%;
  margin: 0 auto;
}
.fakeautho {
  margin-top: 30px;
  color: #757575;
}
.search-icon {
  font-size: 24px !important;
}
.cm-s-monokai.CodeMirror {
  height: 100%;
}
.cm-s-eclipse.CodeMirror {
  height: 100%;
}
.cm-s-pastel-on-dark.CodeMirror {
  height: 100%;
}
.cm-s-dope.CodeMirror {
  height: 100%;
}
.octicon-logo-github {
  position: relative;
  top: 2px;
}
.activity {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.into-list {
  font-size: 20px;
  text-align: center;
}
.clear-uname {
  font-size: 22px;
  margin-right: 5px;
  z-index: 99999;
}
.privacy {
  color: #777;
}
.mild-green {
  color: #299456;
}
.mild-yellow {
  color: #ffd600;
}
.mild-red {
  color: #dd2c00;
}
.full-width {
  width: 100%;
  margin: 0 auto;
}
.button-cont {
  width: 50%;
  float: left;
  margin: 0 auto;
}
.button-full {
  width: 95%;
  margin: 0 auto;
}
.button-bar {
  width: 95%;
  margin: 0 auto;
}
.small-top-margin {
  margin-top: 10px !important;
}
.mdown-cont {
  display: block;
  margin: 20px auto 0;
  color: black;
}
.top-bump {
  margin-top: 10px;
}
.mdown-body {
  padding: 10px;
  color: #333;
}
.readme-box {
  max-height: 250px;
  overflow: hidden;
}
.collapse-bttn {
  color: #4183c4;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 auto 10px;
  width: 95%;
  background-color: white !important;
  min-height: 10px;
  display: block;
  font-size: 14px;
  font-weight: 700;
}
.collapse-bttn:activte {
  color: #4183c4;
}
.bubble-mdown {
  margin: 0 auto;
  width: 95%;
  min-height: 125px;
}
.bottom-right {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.fading-btn {
  opacity: 0;
  &.searchNav,
  &.profileNav {
    position: relative;
    z-index: 150;
  }
}
.searchNav {
  bottom: 20px;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
.profileNav {
  bottom: 10px;
}
.md-fab.md-primary.big-plus {
  i {
    font-weight: 900;
    font-size: 34px;
    color: white;
  }
  span {
    display: inline-block;
    transform: translate3d(0, 0, 0);
    transition: transform 0.35s ease-out;
    -webkit-transition: -webkit-transform 0.35s ease-out;
  }
}
.scroll.blurred {
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1.1);
  -webkit-filter: blur(8px);
  z-index: 1000;
}
.pane,
.view,
.view-container {
  top: 0;
}
.bump-top {
  position: relative !important;
  top: 20px !important;
  width: 100% !important;
  display: block;
}
.search-container {
  padding: 20px;
}
.signout-button {
  margin-bottom: 20px;
  padding: 10px 0;
}
.create-repo-bttn {
  bottom: 10px;
  font-size: 18px;
}
.spinner svg {
  width: 50px;
  height: 50px;
  stroke: white;
  fill: white;
}
