<ion-view title="<i class='github-icon ion-pull-request'></i>">
  <ion-content has-header="true">
    <form name="form">
      <md-input-container class="search-container md-primary">
        <label>Search Github Users or Repositories</label>
        <input ng-model="uname" class="bigput">
      </md-input-container>
      <div class="button-bar">
        <md-button type="submit" ng-click="searchUser(uname)" ng-disabled="form.$invalid" class="button md-reset md-primary">
          <i class="octicon octicon-organization search-icon"></i>
        </md-button>
        <md-button type="submit" ng-click="searchProject(uname)" ng-disabled="form.$invalid" class="button md-reset md-primary">
          <i class="octicon octicon-file-code search-icon"></i>
        </md-button>
      </div>
    </form>
    <md-button class="button bump-top md-reset button-bar md-primary" ng-click="myAccount()">Your Account</md-button>
  </ion-content>
  <ion-footer-bar align-title="center" class="no-padding">
    <md-button class="about-button md-reset md-primary" ng-click="info()">Info</md-button>
  </ion-footer-bar>
</ion-view>
