/* Empty. Add your own CSS if you like */

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.center {
	text-align: center;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.profile-pic {
	height: 110px;
	width: 110px;
	display: block;
	border-radius: 4px;
	margin: 20px auto 0;;
}

.action-numbers {
	font-size: 24px;
	font-weight: 700;
}

.action-text {
	font-size: 14px;
	color: #A8A7A6;
	font-weight: 400;
}

.action-button {
	width: 95% !important;
	margin: 5px auto;
}

.link-item-icon{
	display: table-cell;
	padding-right: 3px;
}

.link-item-link{
	display: table-cell;
	color:#548FCA
}

.name {
	margin-top: 20px;
	font-weight: 900;
	color: #343434;
	font-size: 16pt;
}

.other-info {
	color: #101113;
	padding-left: 4px;
}

.other-info .ico {
	color: #989898;
}

.profile-row {
	border-bottom: 1px solid #DDDDDD;
	padding: 0;
}

.mid-profile {
	padding-top: 1px;
	background-color: #FAFAFA;
}

.bttn-block {
	width: 95%;
	margin: 0 auto;
	display: block;
}

.info {
	padding-left: 35px;
}

.icon {
	font-size: 30px;
	margin: 5px 0;
	padding-right: 15px;
}

.center-loading-icon {
	font-size: 48px;
	text-align: center;
	padding-top: 20px;
}

.repo-cont {
	margin: 20px;
}

.repo-title {
	font-size: 20px;
}

.repo-lang {
	font-style: italic;
	color: #555;
}

.my-item {
	left: 0;
	right: 0;
}

.github-icon {
	font-size: 35px;
}

.bigput {
	height: 45px;
	font-size: 18px;
	line-height: 22px;
}

.branch {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}